.sidebar {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    background-color: #424874;
    height: 50px;
}

.sidebar .element {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100px;
}

.sidebar .command {
    display: inline-block;
    background-color: #a6b1e1;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 20px 20px;
    transition: background-color 0.1s;
}

.sidebar .submenu {
    display: none;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    width: 120px;

}

.sidebar .submenu .subitem {
    background-color: #a6b1e1;
    display: block;
    padding: 7px;
    transition: background-color 0.1s;
    cursor: pointer;
}

.sidebar .command:hover {
    background-color: #dcd6f7;
}

.sidebar .element:hover .submenu {
    display: block;
}

.sidebar .submenu .subitem:hover {
    background-color: #dcd6f7;
}